worker_processes 1;

events { worker_connections 1024; }

http {

    sendfile on;

    upstream storage {
        server storage:3363;
    }

    server {
        listen 3363;

        location / {
            proxy_pass         http://storage;
            proxy_redirect     off;
            proxy_set_header   Host $host;
            proxy_set_header   X-Real-IP $remote_addr;
            proxy_set_header   X-Forwarded-For $proxy_add_x_forwarded_for;
            proxy_set_header   X-Forwarded-Host $server_name;
        }

        location /storage {
            proxy_pass   http://storage;
        }
    }
}


#server {
#    listen 80; 	keepalive_timeout 5;
#    client_max_body_size 4G;
#
#    location / {
#        proxy_pass   http://backend:8000/;
#    }
#
#    location /static {
#        proxy_pass   http://storage:3363/static;
#    }
#
#    location /media {
#        proxy_pass   http://storage:3363/media;
#    }
#    location /images {
#        proxy_pass   http://storage:3363/media/images;
#    }
#}
