# virtual environments
venv
Venv

# Python files
*.pyc
__pycache__
**/*.pyc

# point
.pytest_cache
.github
.dependabot
.gitignore
.coverage

# Python Notebook dot files
.ipynb*

# Secret environment settings
.env
.env.example
env
.idea

# Static assests
staticfiles
static
media
htmlcov
docs
LICENSE
README.md

# Apple files
.DS_Store

# Requirements
requirements