# virtual environments
venv
Vens

# Python files
*.pyc
__pycache__

# Python Notebook dot files
.ipynb*

# Secret environment settings
.env
.env.example
env

# Static assests
staticfiles
static
media

# Apple files
.DS_Store
