# virtual environments
venv
Venv
docs

# Python files
*.pyc
__pycache__

# point
.pytest_cache
.github
.dependabot

# Python Notebook dot files
.ipynb*

# Secret environment settings
.env
.env.example
env

# Static assests
staticfiles
static
media

# Apple files
.DS_Store
