.b-header{
  height: 400px;
  background-attachment: fixed;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-justify-content: center;
  justify-content:center;
  background-size: cover;

  &--title{
      margin: auto;
      text-align: center;
      span{
        color: #000;
        font-size: 60px;
      }
      p{
        font-size: 30px;
      }
  }

}
.b-header_section{
      position: relative;
}
.b-header_up{
  &:before{
       position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 99px !important;
    display: block !important;
    visibility: visible !important;
    content: '';
    background: url('../../../frontend/src/img/header/ripoff_flip.png') bottom center no-repeat;
    background-size: cover;
    z-index: 1;
  }
}

#header{
  margin: 0;
}