.menu-container{
  position: relative;
  border-color: #ebebeb;
  border-bottom-width: 1px;
  -webkit-box-shadow: 0 0 5px 5px rgba(235, 235, 235, 0.5);
  box-shadow: 0 0 5px 5px rgba(235, 235, 235, 0.5);
}

.menu-fixed{
  position: fixed;
  top: 0;
}

.b-menu{
  @include make-row();
  @include margin-padding-null();
  -webkit-justify-content: space-between;
  justify-content:space-between;
  height: 60px;
  &-absolute{
    position: absolute;
    @include make-row();
    @include margin-padding-null();
    -webkit-justify-content: space-around;
    justify-content:space-around;
    top: 0;
    left: 25%;
    height: 60px;
    margin-bottom: 120px;

  }
  &__socia {
      display: flex;

    ul {
      margin: auto;
    }
    a{
      color: black;
      &:hover{
        color: $main-color;
      }
    }
  }
  &__item{ //relative &-absolute
    display: flex;
    ul {
      margin: auto;
    }
    a{
      color: #000;
      &:hover{
        color: $main-color;
      }
    }
  }
  &__cart{
    display: flex;
    padding: 0 10px;
    span {
      margin: auto;
      padding-right: 20px;
    }
  }
}

#menu{
  margin: 0;
}