{% extends "base.html" %}

{% block content %}
    <section>
        <div class="b-blog">
            <div class="row">
                <div class="shop">
                    <h2>МАГАЗИН УНИКАЛЬНЫХ РУЧНЫХ ИЗДЕЛИЙ</h2>
                    <h4>Категория "{{ category }}":</h4>
                    <div class="row">

                        {% for object in object_list %}
                            <div class="b-shop--item">
                                <div class="b-bestseller--item__border">
                                    <div class="b-bestseller--item_img">
                                        <img src="{{ object.image.url }}" alt="">
                                    </div>
                                    <div class="b-bestseller--item_title">{{ object.title }}</div>
                                    <div class="b-bestseller--item_category">
                                        {% for item_category in object.category.all %}
                                            <a href="{%  url 'shop:category' item_category.slug %}">{{ item_category.title }}</a>
                                        {% endfor %}
                                    </div>
                                    <div class="b-bestseller--item_prise">$ {{ object.price }}.00</div>
                                    <div class="b-bestseller--item_cart"><i class="fas fa-cart-plus"></i> &nbsp;<a href="#">add to cart</a></div>
                                </div>
                            </div>
                            <div hidden>
                                Описание: {{ object.description }} <br>
                                Ключевые слова: {{ object.keywords }} <br>
                                Image alt: {{ object.image_alt }} <br>
                                Теги: {% for item_tag in object.tags.all %} {{ item_tag.title }} {% endfor %} <br>
                                Запись создана: {{ object.created_at }} <br>
                                Запись обновлена: {% if object.updated_at %}{{ object.updated_at }}{% else %}&mdash;{% endif %} <br>
                                <br>
                            </div>
                        {% endfor %}
                    </div>
                        <div class="pagination">
                            <span class="step-links">
                                {% if page_obj.has_previous %}
                                    <a href="?page=1">&laquo; </a>
                                    <a href="?page={{ page_obj.previous_page_number }}">&#8592;</a>
                                {% endif %}

                                <span class="current">
                                    Page {{ page_obj.number }} of {{ paginator.num_pages }}.
                                </span>

                                {% if page_obj.has_next %}
                                    <a href="?page={{ page_obj.next_page_number }}">&#8594;</a>
                                    <a href="?page={{ page_obj.paginator.num_pages }}">&raquo;</a>
                                {% endif %}
                            </span>
                        </div>

                </div>

                {% include 'components/_sidebar.html' %}

            </div>
        </div>
    </section>
{% endblock %}
