{% extends "base.html" %}

{% block content %}
    <!----blog--->
    <section>
        <div class="b-blog">
            <div class="row">
               <div class="shop">
                <h2>МАГАЗИН УНИКАЛЬНЫХ РУЧНЫХ ИЗДЕЛИЙ</h2>
                <div class="row">

                <div class="b-shop--item">
                   <div class="b-bestseller--item__border">
                        <div class="b-bestseller--item_img">
                        <img src="http://via.placeholder.com/150" alt="">
                    </div>
                    <div class="b-bestseller--item_title">Clock Handmade</div>
                    <div class="b-bestseller--item_category"><a href="">HOME DECOR</a></div>
                    <div class="b-bestseller--item_prise">$ 25.00</div>
                       <div class="b-bestseller--item_cart"><i class="fas fa-cart-plus"></i> &nbsp;<a href="#">add to cart</a></div>
                   </div>
                </div>

                <div class="b-shop--item">
                   <div class="b-bestseller--item__border">
                        <div class="b-bestseller--item_img">
                        <img src="http://via.placeholder.com/150" alt="">
                    </div>
                    <div class="b-bestseller--item_title">Clock Handmade</div>
                    <div class="b-bestseller--item_category"><a href="">HOME DECOR</a></div>
                    <div class="b-bestseller--item_prise">$ 25.00</div>
                       <div class="b-bestseller--item_cart"><i class="fas fa-cart-plus"></i> &nbsp;add to cart</div>
                   </div>
                </div>

                <div class="b-shop--item">
                   <div class="b-bestseller--item__border">
                        <div class="b-bestseller--item_img">
                        <img src="http://via.placeholder.com/150" alt="">
                        </div>
                        <div class="b-bestseller--item_title"> Decorations</div>
                    <div class="b-bestseller--item_category"><a href="">HOME DECOR</a>, <a href="">SOUVENIRS</a></div>
                        <div class="b-bestseller--item_prise">$ 25.00</div>
                       <div class="b-bestseller--item_cart"><i class="fas fa-cart-plus"></i> &nbsp;add to cart</div>
                   </div>
                </div>

                <div class="b-shop--item">
                   <div class="b-bestseller--item__border">
                        <div class="b-bestseller--item_img">
                        <img src="http://via.placeholder.com/150" alt="">
                        </div>
                        <div class="b-bestseller--item_title">Clock Handmade</div>
                    <div class="b-bestseller--item_category"><a href="">HOME DECOR</a></div>
                        <div class="b-bestseller--item_prise">$ 25.00</div>
                       <div class="b-bestseller--item_cart"><i class="fas fa-cart-plus"></i> &nbsp;в корзину</div>
                   </div>
                </div>
                <div class="b-shop--item">
                   <div class="b-bestseller--item__border">
                        <div class="b-bestseller--item_img">
                        <img src="http://via.placeholder.com/150" alt="">
                    </div>
                    <div class="b-bestseller--item_title">Clock Handmade</div>
                    <div class="b-bestseller--item_category"><a href="">HOME DECOR</a></div>
                    <div class="b-bestseller--item_prise">$ 25.00</div>
                       <div class="b-bestseller--item_cart"><i class="fas fa-cart-plus"></i> &nbsp;<a href="#">add to cart</a></div>
                   </div>
                </div>

                <div class="b-shop--item">
                   <div class="b-bestseller--item__border">
                        <div class="b-bestseller--item_img">
                        <img src="http://via.placeholder.com/150" alt="">
                    </div>
                    <div class="b-bestseller--item_title">Clock Handmade</div>
                    <div class="b-bestseller--item_category"><a href="">HOME DECOR</a></div>
                    <div class="b-bestseller--item_prise">$ 25.00</div>
                       <div class="b-bestseller--item_cart"><i class="fas fa-cart-plus"></i> &nbsp;add to cart</div>
                   </div>
                </div>

                <div class="b-shop--item">
                   <div class="b-bestseller--item__border">
                        <div class="b-bestseller--item_img">
                        <img src="http://via.placeholder.com/150" alt="">
                        </div>
                        <div class="b-bestseller--item_title">Decorations</div>
                    <div class="b-bestseller--item_category"><a href="">HOME DECOR</a>, <a href="">SOUVENIRS</a></div>
                        <div class="b-bestseller--item_prise">$ 25.00</div>
                       <div class="b-bestseller--item_cart"><i class="fas fa-cart-plus"></i> &nbsp;add to cart</div>
                   </div>
                </div>

                <div class="b-shop--item">
                   <div class="b-bestseller--item__border">
                        <div class="b-bestseller--item_img">
                        <img src="http://via.placeholder.com/150" alt="">
                        </div>
                        <div class="b-bestseller--item_title">Clock Handmade</div>
                    <div class="b-bestseller--item_category"><a href="">HOME DECOR</a></div>
                        <div class="b-bestseller--item_prise">$ 25.00</div>
                       <div class="b-bestseller--item_cart"><i class="fas fa-cart-plus"></i> &nbsp;в корзину</div>
                   </div>
                </div>
                <div class="b-shop--item">
                   <div class="b-bestseller--item__border">
                        <div class="b-bestseller--item_img">
                        <img src="http://via.placeholder.com/150" alt="">
                    </div>
                    <div class="b-bestseller--item_title">Clock Handmade</div>
                    <div class="b-bestseller--item_category"><a href="">HOME DECOR</a></div>
                    <div class="b-bestseller--item_prise">$ 25.00</div>
                       <div class="b-bestseller--item_cart"><i class="fas fa-cart-plus"></i> &nbsp;<a href="#">add to cart</a></div>
                   </div>
                </div>

                <div class="b-shop--item">
                   <div class="b-bestseller--item__border">
                        <div class="b-bestseller--item_img">
                        <img src="http://via.placeholder.com/150" alt="">
                    </div>
                    <div class="b-bestseller--item_title">Clock Handmade</div>
                    <div class="b-bestseller--item_category"><a href="">HOME DECOR</a></div>
                    <div class="b-bestseller--item_prise">$ 25.00</div>
                       <div class="b-bestseller--item_cart"><i class="fas fa-cart-plus"></i> &nbsp;add to cart</div>
                   </div>
                </div>

                <div class="b-shop--item">
                   <div class="b-bestseller--item__border">
                        <div class="b-bestseller--item_img">
                        <img src="http://via.placeholder.com/150" alt="">
                        </div>
                        <div class="b-bestseller--item_title">Decorations</div>
                    <div class="b-bestseller--item_category"><a href="">HOME DECOR</a>, <a href="">SOUVENIRS</a></div>
                        <div class="b-bestseller--item_prise">$ 25.00</div>
                       <div class="b-bestseller--item_cart"><i class="fas fa-cart-plus"></i> &nbsp;add to cart</div>
                   </div>
                </div>

                <div class="b-shop--item">
                   <div class="b-bestseller--item__border">
                        <div class="b-bestseller--item_img">
                        <img src="http://via.placeholder.com/150" alt="">
                        </div>
                        <div class="b-bestseller--item_title">Clock Handmade</div>
                    <div class="b-bestseller--item_category"><a href="">HOME DECOR</a></div>
                        <div class="b-bestseller--item_prise">$ 25.00</div>
                       <div class="b-bestseller--item_cart"><i class="fas fa-cart-plus"></i> &nbsp;в корзину</div>
                   </div>
                </div>

            </div>
                <div class="row">
                    <div class="b-bestseller--more">
                        <button type="button" class="" id="">Больше товаров</button>
                    </div>
                </div>
            </div>

                {% include 'components/_sidebar.html' %}

        </div>
            </div>
        </div>
    </section>

{% endblock %}
