{% extends "base.html" %}

{% block content %}
    <section>
        <div class="row">
            <div class="shop">
                <h2>МАГАЗИН УНИКАЛЬНЫХ РУЧНЫХ ИЗДЕЛИЙ</h2>
                <h4>Характеристики товара:</h4>

                {% if object %}
                    <div class="b-shop--item">
                        <div class="b-bestseller--item__border">
                            <div class="b-bestseller--item_img">
                                <img src="{{ object.image.url }}" alt="">
                            </div>
                            <div class="b-bestseller--item_title">{{ object.title }}</div>
                            <div class="b-bestseller--item_category">
                                {% for item_category in object.category.all %}
                                    <a href="{%  url 'category' item_category.slug %}">{{ item_category.title }}</a>
                                {% endfor %}
                            </div>
                            <div class="b-bestseller--item_prise">$ {{ object.price }}.00</div>
                            <div class="b-bestseller--item_cart"><i class="fas fa-cart-plus"></i> &nbsp;<a href="#">add to cart</a></div>
                        </div>
                    </div>
                    <div hidden>
                        Описание: {{ object.description }} <br>
                        Ключевые слова: {{ object.keywords }}
                        Image alt: {{ product.image_alt }} <br>
                        Категории: {% for item_category in object.category.all %} {{ item_category.title }} {% endfor %} <br>
                        Теги: {% for item_tag in object.tags.all %} {{ item_tag.title }} {% endfor %} <br>
                        Запись создана: {{ object.created_at }} <br>
                        Запись обновлена: {% if object.updated_at %}{{ product.updated_at }}{% else %}&mdash;{% endif %} <br>
                    </div>
                {% else %}
                    <p>No product is available.</p>
                {% endif %}
            </div>

            {% include 'components/_sidebar.html' %}
        </div>
    </section>
{% endblock %}
