{% extends "layouts/blog.html" %}

{% block content %}
    <section>
        <div class="row">
            <div class="shop">
                <h2>МАГАЗИН УНИКАЛЬНЫХ РУЧНЫХ ИЗДЕЛИЙ</h2>
                <h4>Подтвердите удаление товара:</h4>
                    <form method="post">{% csrf_token %}
                        <p>Вы дейстительно желаете удалить "{{ object }}"?</p>
                        <input type="submit" value="Да, подтверждаю">
                    </form>
            </div>
        </div>
    </section>
{% endblock %}
