{% extends "layouts/blog.html" %}

{% block content %}
    <section>
        <div class="row">
            <div class="shop">
                <h2>МАГАЗИН УНИКАЛЬНЫХ РУЧНЫХ ИЗДЕЛИЙ</h2>
                <h4>{% if object %}Редактирование параметров товара{% else %}Добавление нового товара{% endif %}:</h4>
                <form method="post" enctype="multipart/form-data">{% csrf_token %}
                    {{ form.as_p }}
                    <input type="submit" value="{% if object %}Обновить{% else %}Создать{% endif %}">
                </form>
                {% if object %}
                    <button onclick="location.href='{% url 'shop:product_delete' object.slug %}'" type="button">Удалить товар</button>
                {% endif %}
            </div>
        </div>
    </section>
{% endblock %}
