upstream app_server {
        server unix:/home/<username>/<project>/run/gunicorn.sock fail_timeout=0;
    }

server {
    listen 80; 	keepalive_timeout 5;
    client_max_body_size 4G;

    access_log /home/<username>/<project>/logs/nginx-access.log;
    error_log /home/<username>/<project>/logs/nginx-error.log;

    location = /favicon.ico {
        access_log off;
        log_not_found off;
        }

    location /media {
        alias /home/<username>/<project>/path_media/media;
        }

    location /static/ {
        alias /home/<username>/<project>/static/;
        expires 30d;
        }

    location / {
        try_files $uri @proxy_to_app;
        }

    location @proxy_to_app {
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header Host $http_host;
        proxy_redirect off;
        proxy_pass http://app_server;
        }
}