{% extends "base.html" %}

{% block content %}
    <section>
        <div class="b-blog">
            <div class="row">
                <div class="blog-detail">
                    <div class="b-blog--detail">
                        <div class="b-blog--detail_tag">
                          {% for tag in object.tags.all %}
                          <a href="">{{ tag }}</a>
                          {% endfor %}
                        </div>
                        <div class="b-blog--detail_title"><h1>{{ obhect.title }}</h1></div>
                        <div class="b-blog--detail_by"><span>by <a href="">{{ object.author }}</a> {{ object.created_at }}</span></div>
                        <div class="b-blog--detail_img">
                            <img src="http://via.placeholder.com/150" alt="">
                        </div>
                        <div class="b-blog--detail_content">
                            <p>
                              {{ object.content }}
                            </p></div>
                    </div>

                    <br><br><br><br>
                    <div>next previews</div>
                    <div>about autor</div>
                    <div>more post</div>
                    <div>comments</div>
                </div>

                {% include 'components/_sidebar.html' %}

        </div>
            </div>
        </div>
    </section>

{% endblock %}
