{% extends "base.html" %}

{% block content %}
    <section>
        <div class="b-blog">
            <div class="row">
                <div class="blog-detail">
                    <div class="b-blog--detail">
                        <div class="b-blog--detail_tag">
                          {% for tag in object.tags.all %}
                              <a href="{% url 'tags:tags-list' slug=tag.slug %}">{{ tag }}</a>
                          {% endfor %}
                        </div>
                        <div class="b-blog--detail_title"><h1>{{ object.title }}</h1></div>
                        <div class="b-blog--detail_by"><span>by <a href="{% url 'blog:author-list' author=object.author %}">{{ object.author }}</a> {{ object.created_at }}</span></div>
                        <div class="b-blog--detail_img">
                            <img src="http://via.placeholder.com/150" alt="">
                        </div>
                        <div class="b-blog--detail_content"><p>{{ object.content }}</p></div>
                    </div>
                <div class="row">
                    Автор: <a href="{% url 'blog:author-list' author=object.author %}">{{ object.author }}</a>
                </div>
                    <div class="row">
                        {% if previous_preview %}
                            <h4>Предыдущий пост: </h4> <a href="{% url 'blog:blog-detail' slug=previous_preview.slug %}">{{ previous_preview.title }}</a>
                        {% endif %}
                        {% if next_preview %}
                            <h4>Следующий пост: </h4> <a href="{% url 'blog:blog-detail' slug=next_preview.slug %}">{{ next_preview.title }}</a>
                        {% endif %}
                    </div>
                    <div class="row">
                        <h2>Другие посты</h2>
                    {% for post in more_posts %}
                        <hr>
                        <div class="b-blog--detail_title"><a href="{% url 'blog:blog-detail' slug=post.slug %}"><h1>{{ post.title }}</h1></a></div>
                        <div class="b-blog--detail_img">
                            <img src="http://via.placeholder.com/150" alt="">
                        </div>
                    {% endfor %}
                    </div>
                </div>
                {% include 'components/_sidebar.html' %}

        </div>
            </div>
        </div>
    </section>

{% endblock %}
