{% extends "base.html" %}

{% block content %}
    <!----blog--->
    <section>
        <div class="b-blog">
            <div class="row">
                <div class="blog-detail">
                    <div class="b-blog--detail">
                        <div class="b-blog--detail_tag"> tag</div>
                        <div class="b-blog--detail_title"><h1>5 Amazing Workspaces: For Kids and Kids Rooms</h1></div>
                        <div class="b-blog--detail_by"><span>by <a href="">Екатерина</a> December 5, 2016</span></div>
                        <div class="b-blog--detail_img">
                            <img src="http://via.placeholder.com/150" alt="">
                        </div>
                        <div class="b-blog--detail_content">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque fermentum massa vel enim feugiat gravida. Phasellus velit risus, euismod a lacus et, mattis condimentum augue. Vivamus fermentum ex quis imperdiet sodales. Sed aliquam nibh tellus, a rutrum turpis pellentesque ac. Nulla nibh libero, tincidunt cursus gravida ut, sodales ut magna. Sed sodales libero sapien, et rutrum mi placerat eget. Nulla vestibulum lacus vel eros eleifend molestie.
                            Sed rutrum, libero non pretium tristique, arcu mi sollicitudin ex, quis venenatis orci tellus vel dolor. Donec gravida, dolor ut auctor facilisis, enim dolor pellentesque lectus, nec vehicula nibh risus ac leo. Mauris volutpat aliquam tellus nec rhoncus. Aliquam et nibh pulvinar, sodales nibh et, pretium urna. Vivamus quam augue, maximus in consequat imperdiet, iaculis non nibh. Aliquam erat volutpat. Curabitur venenatis massa sed lacus tristique, non auctor nisl sodales. Sed ultricies lacus ut libero faucibus fringilla. Ut nisi tellus, posuere vel mattis nec, convallis a metus. Nullam elementum molestie felis nec lobortis. Cras at justo eu elit semper tempor sed quis orci. In risus magna, malesuada vel elementum ut, finibus et nunc.
                            Cras dapibus ullamcorper dictum. Vivamus nec erat placerat felis scelerisque porttitor in ac turpis. In nec imperdiet turpis. Suspendisse quis orci ut orci pulvinar eleifend. Nulla eu mattis ipsum. Integer eget sagittis nulla. Praesent consectetur lacus et maximus eleifend. Integer non lacus dui. Mauris tortor diam, laoreet quis commodo vitae, sodales vel augue.

                            </p></div>
                    </div>

                    <br><br><br><br>
                    <div>next previews</div>
                    <div>about autor</div>
                    <div>more post</div>
                    <div>comments</div>
                </div>

                {% include 'components/_sidebar.html' %}

        </div>
            </div>
        </div>
    </section>

{% endblock %}
