{% extends "base.html" %}

{% block content %}
    <section>
        <div class="b-blog">
            <div class="b-blog--header">
                <h2>АВТОРСКИЙ</h2>
                <h1>Блог по вязанию</h1>
            </div>
            <div class="row">
                <div class="blog-main" id="posts">
                    {% include 'blog/components/list_part.html' %}

                    <div class="b-blog--item__more">
                        <button type="button" class="" id="more-posts">Больше постов</button>
                    </div>

                    <div><input type='hidden' id='pagination-id' value='2'></div>
                </div>
                {% include 'components/_sidebar.html' %}
            </div>
        </div>
    </section>

{% endblock %}
