{% extends "base.html" %}

{% block content %}
    <section>
        <div class="b-blog">
            <div class="b-blog--header">
            <h2>АВТОРСКИЙ</h2>
            <h1>Блог по вязанию</h1>
        </div>
            <div class="row">
                <div class="blog-main">
                    <div class="b-blog--item">
                        <div class="b-blog--item__border">
                            <div class="b-blog--item_img">
                                <img src="http://via.placeholder.com/150" alt="">
                                <div class="b-blog--item_tag"><a href="#">обучение</a></div>
                            </div>
                            <div class="b-blog--item_title"><h2>Простые и легкие DIY цветочные горшки</h2></div>
                            <div class="b-blog--item_description">
                                Не следует, однако забывать, что реализация намеченных плановых заданий обеспечивает широкому кругу (специалистов) участие в формировании системы обучения кадров, соответствует насущным потребностям.
                            </div>
                            <div class="b-blog--item_button">
                                <button onclick="location.href='detail.html';" type="button">Подробней</button>
                            </div>
                        </div>
                    </div>
                    <div class="b-blog--item">
                        <div class="b-blog--item__border">
                            <div class="b-blog--item_img">
                                <img src="http://via.placeholder.com/150" alt="">
                                <div class="b-blog--item_tag"><a href="#">обучение</a></div>
                            </div>
                            <div class="b-blog--item_title"><h2>Простые и легкие DIY цветочные горшки</h2></div>
                            <div class="b-blog--item_description">
                                Не следует, однако забывать, что реализация намеченных плановых заданий обеспечивает широкому кругу (специалистов) участие в формировании системы обучения кадров, соответствует насущным потребностям.
                            </div>
                            <div class="b-blog--item_button">
                                <button onclick="location.href='detail.html';" type="button">Подробней</button>
                            </div>
                        </div>
                    </div>
                    <div class="b-blog--item">
                        <div class="b-blog--item__border">
                            <div class="b-blog--item_img">
                                <img src="http://via.placeholder.com/150" alt="">
                                <div class="b-blog--item_tag"><a href="#">обучение</a></div>
                            </div>
                            <div class="b-blog--item_title"><h2>Простые и легкие DIY цветочные горшки</h2></div>
                            <div class="b-blog--item_description">
                                Не следует, однако забывать, что реализация намеченных плановых заданий обеспечивает широкому кругу (специалистов) участие в формировании системы обучения кадров, соответствует насущным потребностям.
                            </div>
                            <div class="b-blog--item_button">
                                <button onclick="location.href='detail.html';" type="button">Подробней</button>
                            </div>
                        </div>
                    </div>
                    <div class="b-blog--item">
                        <div class="b-blog--item__border">
                            <div class="b-blog--item_img">
                                <img src="http://via.placeholder.com/150" alt="">
                                <div class="b-blog--item_tag"><a href="#">обучение</a></div>
                            </div>
                            <div class="b-blog--item_title"><h2>Простые и легкие DIY цветочные горшки</h2></div>
                            <div class="b-blog--item_description">
                                Не следует, однако забывать, что реализация намеченных плановых заданий обеспечивает широкому кругу (специалистов) участие в формировании системы обучения кадров, соответствует насущным потребностям.
                            </div>
                            <div class="b-blog--item_button">
                                <button onclick="location.href='detail.html';" type="button">Подробней</button>
                            </div>
                        </div>
                    </div>
                    <div class="b-blog--item">
                        <div class="b-blog--item__border">
                            <div class="b-blog--item_img">
                                <img src="http://via.placeholder.com/150" alt="">
                                <div class="b-blog--item_tag"><a href="#">обучение</a></div>
                            </div>
                            <div class="b-blog--item_title"><h2>Простые и легкие DIY цветочные горшки</h2></div>
                            <div class="b-blog--item_description">
                                Не следует, однако забывать, что реализация намеченных плановых заданий обеспечивает широкому кругу (специалистов) участие в формировании системы обучения кадров, соответствует насущным потребностям.
                            </div>
                            <div class="b-blog--item_button">
                                <button onclick="location.href='detail.html';" type="button">Подробней</button>
                            </div>
                        </div>
                    </div>
                    <div class="b-blog--item">
                        <div class="b-blog--item__border">
                            <div class="b-blog--item_img">
                                <img src="http://via.placeholder.com/150" alt="">
                                <div class="b-blog--item_tag"><a href="#">обучение</a></div>
                            </div>
                            <div class="b-blog--item_title"><h2>Простые и легкие DIY цветочные горшки</h2></div>
                            <div class="b-blog--item_description">
                                Не следует, однако забывать, что реализация намеченных плановых заданий обеспечивает широкому кругу (специалистов) участие в формировании системы обучения кадров, соответствует насущным потребностям.
                            </div>
                            <div class="b-blog--item_button">
                                <button onclick="location.href='detail.html';" type="button">Подробней</button>
                            </div>
                        </div>
                    </div>
                    <div class="b-blog--item__more">
                        <button type="button" class="" id="">Больше постов</button>
                    </div>
                </div>

                {% include 'components/_sidebar.html' %}

        </div>
            </div>
        </div>
    </section>
    <!----bestseller-->
    <section>
        <div class="b-bestseller">
            <h2>МАГАЗИН УНИКАЛЬНЫХ РУЧНЫХ ИЗДЕЛИЙ</h2>
            <h3>ПОПУЛЯРНОЕ</h3>

        <div class="row">

            <div class="b-bestseller--item">
               <div class="b-bestseller--item__border">
                    <div class="b-bestseller--item_img">
                    <img src="http://via.placeholder.com/150" alt="">
                </div>
                <div class="b-bestseller--item_title">Clock Handmade</div>
                <div class="b-bestseller--item_category"><a href="">HOME DECOR</a></div>
                <div class="b-bestseller--item_prise">$ 25.00</div>
                   <div class="b-bestseller--item_cart"><i class="fas fa-cart-plus"></i> &nbsp;<a href="#">add to cart</a></div>
               </div>
            </div>

            <div class="b-bestseller--item">
               <div class="b-bestseller--item__border">
                    <div class="b-bestseller--item_img">
                    <img src="http://via.placeholder.com/150" alt="">
                </div>
                <div class="b-bestseller--item_title">Clock Handmade</div>
                <div class="b-bestseller--item_category"><a href="">HOME DECOR</a></div>
                <div class="b-bestseller--item_prise">$ 25.00</div>
                   <div class="b-bestseller--item_cart"><i class="fas fa-cart-plus"></i> &nbsp;add to cart</div>
               </div>
            </div>

            <div class="b-bestseller--item">
               <div class="b-bestseller--item__border">
                    <div class="b-bestseller--item_img">
                    <img src="http://via.placeholder.com/150" alt="">
                    </div>
                    <div class="b-bestseller--item_title">Wreath of Decorations</div>
                <div class="b-bestseller--item_category"><a href="">HOME DECOR</a>, <a href="">SOUVENIRS</a></div>
                    <div class="b-bestseller--item_prise">$ 25.00</div>
                   <div class="b-bestseller--item_cart"><i class="fas fa-cart-plus"></i> &nbsp;add to cart</div>
               </div>
            </div>

            <div class="b-bestseller--item">
               <div class="b-bestseller--item__border">
                    <div class="b-bestseller--item_img">
                    <img src="http://via.placeholder.com/150" alt="">
                    </div>
                    <div class="b-bestseller--item_title">Clock Handmade</div>
                <div class="b-bestseller--item_category"><a href="">HOME DECOR</a></div>
                    <div class="b-bestseller--item_prise">$ 25.00</div>
                   <div class="b-bestseller--item_cart"><i class="fas fa-cart-plus"></i> &nbsp;в корзину</div>
               </div>
            </div>

        </div>
        <div class="row">
            <div class="b-bestseller--more">
                <button type="button" class="" id="">Больше товаров</button>
            </div>
        </div>
            </div>
    </section>

{% endblock %}
