.b-footer{
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: lighten($main-color, 10%);
  height: 200px;
  h3{
    font-size: 14px;
    line-height: 20px;
    font-weight: bold;
    font-style: normal;
    text-transform: uppercase;
    text-decoration: none;
    margin: 0 0 10px 0;
  }
  li{
    display: list-item;
  }
  &--item{
    padding: 20px 40px;
  }
  &--line{
    border-top: #ebebeb 1px solid;
    height: 60px;
    text-align: center;
    padding: 20px 0;
  }
}