{% load most_popular_tags %}
{% most_popular_products as products %}
<!----bestseller-->
<section>
        <div class="b-bestseller">
            <h2>МАГАЗИН УНИКАЛЬНЫХ РУЧНЫХ ИЗДЕЛИЙ</h2>
            <h3>ПОПУЛЯРНОЕ</h3>

        <div class="row">
            {% for product in products %}
            <div class="b-bestseller--item">
               <div class="b-bestseller--item__border">
                    <div class="b-bestseller--item_img">
                    <img src="http://via.placeholder.com/150" alt="">
                </div>
                <div class="b-bestseller--item_title">{{ product.title }}</div>
                <div class="b-bestseller--item_category"><a href="">{{ product.category }}</a></div>
                <div class="b-bestseller--item_prise">{{ product.price }}</div>
                   <div class="b-bestseller--item_cart"><i class="fas fa-cart-plus"></i> &nbsp;<a href="#">add to cart</a></div>
               </div>
            </div>
            {% endfor %}
        </div>
        <div class="row">
            <div class="b-bestseller--more">
                <button type="button" class="" id="">Больше товаров</button>
            </div>
        </div>
            </div>
    </section>
