<!----bestseller-->
<section>
        <div class="b-bestseller">
            <h2>МАГАЗИН УНИКАЛЬНЫХ РУЧНЫХ ИЗДЕЛИЙ</h2>
            <h3>ПОПУЛЯРНОЕ</h3>

        <div class="row">

            <div class="b-bestseller--item">
               <div class="b-bestseller--item__border">
                    <div class="b-bestseller--item_img">
                    <img src="http://via.placeholder.com/150" alt="">
                </div>
                <div class="b-bestseller--item_title">Clock Handmade</div>
                <div class="b-bestseller--item_category"><a href="">HOME DECOR</a></div>
                <div class="b-bestseller--item_prise">$ 25.00</div>
                   <div class="b-bestseller--item_cart"><i class="fas fa-cart-plus"></i> &nbsp;<a href="#">add to cart</a></div>
               </div>
            </div>

            <div class="b-bestseller--item">
               <div class="b-bestseller--item__border">
                    <div class="b-bestseller--item_img">
                    <img src="http://via.placeholder.com/150" alt="">
                </div>
                <div class="b-bestseller--item_title">Clock Handmade</div>
                <div class="b-bestseller--item_category"><a href="">HOME DECOR</a></div>
                <div class="b-bestseller--item_prise">$ 25.00</div>
                   <div class="b-bestseller--item_cart"><i class="fas fa-cart-plus"></i> &nbsp;add to cart</div>
               </div>
            </div>

            <div class="b-bestseller--item">
               <div class="b-bestseller--item__border">
                    <div class="b-bestseller--item_img">
                    <img src="http://via.placeholder.com/150" alt="">
                    </div>
                    <div class="b-bestseller--item_title">Wreath of Decorations</div>
                <div class="b-bestseller--item_category"><a href="">HOME DECOR</a>, <a href="">SOUVENIRS</a></div>
                    <div class="b-bestseller--item_prise">$ 25.00</div>
                   <div class="b-bestseller--item_cart"><i class="fas fa-cart-plus"></i> &nbsp;add to cart</div>
               </div>
            </div>

            <div class="b-bestseller--item">
               <div class="b-bestseller--item__border">
                    <div class="b-bestseller--item_img">
                    <img src="http://via.placeholder.com/150" alt="">
                    </div>
                    <div class="b-bestseller--item_title">Clock Handmade</div>
                <div class="b-bestseller--item_category"><a href="">HOME DECOR</a></div>
                    <div class="b-bestseller--item_prise">$ 25.00</div>
                   <div class="b-bestseller--item_cart"><i class="fas fa-cart-plus"></i> &nbsp;в корзину</div>
               </div>
            </div>

        </div>
        <div class="row">
            <div class="b-bestseller--more">
                <button type="button" class="" id="">Больше товаров</button>
            </div>
        </div>
            </div>
    </section>
