<!-- breadcrumb -->
<style>
    .breadcrumbs {
        margin-left: 220px;
    }
</style>
<div class="breadcrumbs" itemscope itemtype="http://schema.org/WebPage">
    <ul itemprop="breadcrumb" itemscope="" itemtype="http://schema.org/BreadcrumbList">
        <li class="home" itemscope="" itemprop="itemListElement" itemtype="http://schema.org/ListItem">
            <a href="/" itemprop="item"><span itemprop="name">Главная</span></a>
            <span>/ </span>
            <meta itemprop="position" content="1">
        </li>
        {% if object_list %}
            <li class="category" itemscope="" itemprop="itemListElement" itemtype="http://schema.org/ListItem">
                <a href="{{ object_list.first.get_absolute_url }}" itemprop="item"><span itemprop="name">{{ object_list.first.get_app_name }}</span></a>
                <span>/ </span>
                <meta itemprop="position" content="2">
            </li>
        {% endif %}
        {% if object %}
            <li class="category" itemscope="" itemprop="itemListElement" itemtype="http://schema.org/ListItem">
                <a href="{{ object.get_absolute_url }}" itemprop="item"><span itemprop="name">{{ object.get_app_name }}</span></a>
                <span>/ </span>
                <meta itemprop="position" content="2">
            </li>
            <li class="product" itemscope="" itemprop="itemListElement" itemtype="http://schema.org/ListItem">
                <a href="{{ object.get_custom_url }}" itemprop="item"><span itemprop="name">{{ object.title }}</span></a>
                <span>/ </span>
                <meta itemprop="position" content="3">
            </li>
        {% endif %}
        {% if form %}
            <li class="category" itemscope="" itemprop="itemListElement" itemtype="http://schema.org/ListItem">
                <a href="{{ form.get_absolute_url }}" itemprop="item"><span itemprop="name">{{ form.get_app_name }}</span></a>
                <span>/ </span>
                <meta itemprop="position" content="2">
            </li>
        {% endif %}
    </ul>
</div>