<!-- breadcrumb -->
<style>
    .breadcrumbs {
        margin-left: 220px;
    }
</style>
<div class="breadcrumbs" itemscope itemtype="http://schema.org/WebPage">
    <ul itemprop="breadcrumb" itemscope="" itemtype="http://schema.org/BreadcrumbList">
        <li class="home" itemscope="" itemprop="itemListElement" itemtype="http://schema.org/ListItem">
            <a href="/" itemprop="item"><span itemprop="name">Главная</span></a>
            <span>/ </span>
            <meta itemprop="position" content="1">
        </li>
        <li class="category" itemscope="" itemprop="itemListElement" itemtype="http://schema.org/ListItem">
            <a href="{{ crumb_url }}" itemprop="item"><span itemprop="name">{{ crumb_title }}</span></a>
            <span>/ </span>
            <meta itemprop="position" content="2">
        </li>
        {% if object.title %}
            <li class="product" itemscope="" itemprop="itemListElement" itemtype="http://schema.org/ListItem">
                <a href="{% url 'blog:blog-detail' slug=object.slug %}" itemprop="item"><span itemprop="name">{{ object.title }}</span></a>
                <span>/ </span>
                <meta itemprop="position" content="3">
            </li>
        {% endif %}
    </ul>
</div>