    <footer>
        <div class="b-footer"><!----style="background-image: url(img/header/hb.jpg);"-->
            <div class="b-footer--item">
                <h3>about us</h3>
                <p>Apparently we had reached a great height in the atmosphere, for the sky was a dead black, and the stars had ceased to twinkle. By the same illusion which lifts</p>
            </div>
            <div class="b-footer--item">
                <div class="b-footer--item_link">
                    <h3>Полезные ссылки</h3>
                    <ul>
                        <li><a href="">Блог</a></li>
                        <li><a href="">Магазиг</a></li>
                        <li><a href="">О нас</a></li>
                        <li><a href="">Портфолио</a></li>
                        <li><a href="">Контакты</a></li>
                    </ul>
                </div>
            </div>
            <div class="b-footer--item">
                <div class="b-footer--item_link">
                    <h3>Социальные сети</h3>
                    <ul>
                        <li><a href="">Вконтакте</a></li>
                        <li><a href="">Фейсбук</a></li>
                        <li><a href="">Пинторес</a></li>
                        <li><a href="">Ютуб</a></li>
                        <li><a href="">Телеграм</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="b-footer--line">
             Little Knits Story 2017 | All Rights Reserved
        </div>
    </footer>
