    <aside>
        <!---FIXME: link inst-->
        <div class="insta_collage">
            <div class="insta_collage--item"><img src="http://via.placeholder.com/150" alt=""></div>
            <div class="insta_collage--item"><img src="http://via.placeholder.com/150" alt=""></div>
            <div class="insta_collage--item"><img src="http://via.placeholder.com/150" alt=""></div>
            <div class="insta_collage--item"><img src="http://via.placeholder.com/150" alt=""></div>
            <div class="insta_collage--item"><img src="http://via.placeholder.com/150" alt=""></div>
            <div class="insta_collage--item"><img src="http://via.placeholder.com/150" alt=""></div>
            <div class="insta_collage--follow">
                <button type="button"><i class="fab fa-instagram"></i>&nbsp;follow @littleknitsstory</button>
            </div>
        </div>
    </aside>
