{% load last_posts_tags %}
{% last_posts as posts %}
{% if posts %}
<div class="b-post-latest">
      <div class="row">
          <h3>Последнии посты</h3>
      </div>
    {% for object in posts %}
      <div class="b-post-latest--item">
          <div class="b-post-latest--item_img">
              {% if object.image_preview %}
                <img src="{{ object.image_preview.url }}" alt="{{ object.image_alt }}">
                {% else %}
                <img src="http://placehold.it/250" alt="">
              {% endif %}
          </div>
          <div class="b-post-latest--item_content">
              <div class="b-post-latest--item_title">
                  <a href="{% url 'blog:blog-detail' slug=object.slug %}">{{ object.title }}</a>
              </div>
              <div class="b-post-latest--item_time">{{ object.created_at }}</div>
          </div>
      </div>
    {% endfor %}
</div>
{% else %}

{% endif %}
