<div class="sidebar">
  <div class="b-about">
      <div class="b-about_title"><h3>ОБ АВТОРЕ</h3></div>
      <div class="b-about_img">
          <img src="http://via.placeholder.com/150" alt="">
      </div>
      <div class="b-about_name"><a href="">Катя Анаприенко</a></div>
      <div class="b-about_content">
          Etiam eu molestie eros, commodo hendrerit sapien. Maecenas tempus leo ac nisi iaculis porta. Sed sapien tortor, aliquet a velit ut.
      </div>
      <div class="b-about_socia">
          <a href="#"><i class="fab fa-vk"></i></a>
          <a href="#"><i class="fab fa-facebook-f"></i></a>
          <a href="#"><i class="fab fa-instagram"></i></a>
          <a href="#"><i class="fab fa-telegram-plane"></i></a>
      </div>
  </div>
  <div class="b-subcribe">
      <div class="b-subcribe_title">Узнайте об интересных и эксклюзивных обновлениях первыми</div>
      <div class="b-subcribe_form">
          <form class="form-inline" id="ajax-form-subscribe">
            {% csrf_token %}
            {{ form_subscribe.non_field_errors }}
              {{ form_subscribe }}
              <button type="submit" class="" id="submit_btn">Подписаться</button>
          </form>
      </div>
  </div>
  <div class="b-category">
      <div class="b-category--title"><h3>Категории</h3></div>
      <div class="b-category--item"><a href="">Декор (1)</a></div>
      <div class="b-category--item"><a href="">Игрушки (3)</a></div>
      <div class="b-category--item"><a href="">Ещё категория (19)</a></div>
      <div class="b-category--item"><a href="">Вязание (2)</a></div>
      <div class="b-category--item"><a href="">Пряжа (20)</a></div>
  </div>
  <div class="b-banner">баннер</div>
    {% include 'components/_last-posts.html' %}
</div>
