@mixin margin-padding-null(){
  padding: 0;
  margin: 0;
}

//mixin for sidebar
@mixin border-and-shadow() {
  margin: 30px;
  padding: 20px;
  border: #ebebeb solid 1px;
  box-shadow: 0 0 0 1px #ededee;
  transition: box-shadow 0.3s ease;
  border-radius: 3px;
  &:hover {
        box-shadow: 0 0 27px 0 rgba(0, 0, 0, 0.25);
      }
}


//mixin for all block
@mixin border-and-shadow-detail() {
  margin: 20px;
  padding: 30px;
  border: #ebebeb solid 1px;
  box-shadow: 0 0 0 1px #ededee;
  transition: box-shadow 0.3s ease;
  border-radius: 3px;
  &:hover {
        box-shadow: 0 0 27px 0 rgba(0, 0, 0, 0.25);
      }
}





 //@extend .message;
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

.box { @include border-radius(10px); }