{% for item in object_list %}
    <a href="{% url 'blog:blog-detail' slug=item.slug %}">
        <div class="b-blog--item">
            <div class="b-blog--item__border">
                <div class="b-blog--item_img">
                    {% if item.image_preview %}
                        <img src="{{ item.image_preview.url }}" alt="{{ item.image_alt }}">
                    {% else %}
                        <img src="http://placehold.it/250" alt="">
                    {% endif %}
                    {% for tag in item.tags.all %}
                        <div class="b-blog--item_tag">
                            <a href="{% url 'tags:tags-list' slug=tag.slug %}">{{ tag }}</a>
                        </div>
                    {% endfor %}
                </div>
                <div class="b-blog--item_title">
                    <a href="{% url 'blog:blog-detail' slug=item.slug %}"><h2>{{ item.title }}</h2></a>
                </div>
                <div class="b-blog--item_description">
                    {{ item.content| truncatewords:15 }}
                </div>
                <div class="b-blog--item_button">
                    <button onclick="location.href='{% url 'blog:blog-detail' slug=item.slug %}';" type="button">Подробней</button>
                </div>
            </div>
        </div>
    </a>
{% endfor %}
